-- CreateTable
CREATE TABLE `etf_list` (
    `market` VARCHAR(10) NOT NULL DEFAULT '',
    `stock_code` VARCHAR(20) NOT NULL DEFAULT '',
    `etf_name` VARCHAR(255) NULL,
    `company_name` VARCHAR(50) NULL,
    `benchmark_index` VARCHAR(255) NULL,
    `index_comment` TEXT NULL,
    `trading_lot` VARCHAR(10) NULL,
    `trust_fee_rate` VARCHAR(10) NULL,
    `std_pdno` VARCHAR(12) NULL,
    `reg_date` DATETIME(0) NULL,
    `mod_date` DATETIME(0) NULL,

    PRIMARY KEY (`market`, `stock_code`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `etf_price_history` (
    `price_idx` INTEGER NOT NULL AUTO_INCREMENT,
    `market` VARCHAR(10) NOT NULL,
    `stock_code` VARCHAR(20) NOT NULL,
    `open` VARCHAR(12) NULL,
    `high` VARCHAR(12) NULL,
    `low` VARCHAR(12) NULL,
    `price` VARCHAR(12) NULL,
    `last_day_price` VARCHAR(12) NULL,
    `h52p` VARCHAR(12) NULL,
    `l52p` VARCHAR(12) NULL,
    `t_xprc` VARCHAR(12) NULL,
    `t_xdif` VARCHAR(12) NULL,
    `t_xrat` VARCHAR(12) NULL,
    `t_rate` VARCHAR(12) NULL,
    `reg_date` DATETIME(0) NULL,

    INDEX `market_stock_code`(`market`, `stock_code`),
    INDEX `reg_date`(`reg_date`),
    PRIMARY KEY (`price_idx`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `etf_stock_list` (
    `market` VARCHAR(10) NOT NULL DEFAULT '',
    `etf_stock_code` VARCHAR(20) NOT NULL DEFAULT '',
    `stock_code` VARCHAR(20) NOT NULL DEFAULT '',
    `reg_date` DATETIME(0) NULL,
    `etf_percent` FLOAT NULL,

    INDEX `etf_stock_list_stock_list_market_stock_code_fk`(`market`, `stock_code`),
    PRIMARY KEY (`market`, `etf_stock_code`, `stock_code`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `stock_list` (
    `market` VARCHAR(10) NOT NULL DEFAULT '',
    `stock_code` VARCHAR(20) NOT NULL DEFAULT '',
    `stock_name` VARCHAR(255) NULL,
    `tr_crcy_cd` VARCHAR(3) NULL,
    `buy_unit_qty` VARCHAR(10) NULL,
    `prdt_name` VARCHAR(60) NULL,
    `stock_comment` TEXT NULL,
    `std_pdno` VARCHAR(12) NULL,
    `reg_date` DATETIME(0) NULL,
    `mod_date` DATETIME(0) NULL,

    PRIMARY KEY (`market`, `stock_code`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `stock_price_history` (
    `price_idx` INTEGER NOT NULL AUTO_INCREMENT,
    `market` VARCHAR(10) NOT NULL,
    `stock_code` VARCHAR(20) NOT NULL,
    `open` VARCHAR(12) NULL,
    `high` VARCHAR(12) NULL,
    `low` VARCHAR(12) NULL,
    `price` VARCHAR(12) NULL,
    `last_day_price` VARCHAR(12) NULL,
    `tomv` VARCHAR(16) NULL,
    `h52p` VARCHAR(12) NULL,
    `l52p` VARCHAR(12) NULL,
    `perx` VARCHAR(10) NULL,
    `pbrx` VARCHAR(10) NULL,
    `epsx` VARCHAR(10) NULL,
    `bpsx` VARCHAR(10) NULL,
    `t_xprc` VARCHAR(12) NULL,
    `t_xdif` VARCHAR(12) NULL,
    `t_xrat` VARCHAR(12) NULL,
    `t_rate` VARCHAR(12) NULL,
    `e_icod` VARCHAR(50) NULL,
    `reg_date` DATETIME(0) NULL,

    INDEX `market_stock_code`(`market`, `stock_code`),
    INDEX `reg_date`(`reg_date`),
    PRIMARY KEY (`price_idx`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `token` (
    `token_idx` INTEGER NOT NULL AUTO_INCREMENT,
    `reg_date` CHAR(8) NOT NULL DEFAULT '',
    `token` TEXT NOT NULL,

    PRIMARY KEY (`token_idx`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `etf_stock_list` ADD CONSTRAINT `FK_etf_stock_list_etf_list` FOREIGN KEY (`market`, `etf_stock_code`) REFERENCES `etf_list`(`market`, `stock_code`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `etf_stock_list` ADD CONSTRAINT `etf_stock_list_stock_list_market_stock_code_fk` FOREIGN KEY (`market`, `stock_code`) REFERENCES `stock_list`(`market`, `stock_code`) ON DELETE RESTRICT ON UPDATE RESTRICT;

