@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SeoulNamsanM', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}